@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 180px; /* Adjusted width for logos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}